<%= render 'pages/home' unless user_signed_in? %>

<div id="funnies" class="transitions-enabled">
  <% @funnies.each do |funny| %><!-- will do something to each funny -->
    <div class="box panel panel-default">
      <%= link_to image_tag(funny.image.url(:medium)), funny %>
      <div class="panel-body">
        <p><%= funny.description %></p>
        <p><strong><%= funny.user.email if funny.user %></strong></p><!-- only will show if a funny has a user -->
        <% if funny.user == current_user %>
          <div class="actions">
            <%= link_to edit_funny_path(funny) do %>
              <span class="glyphicon glyphicon-edit"></span>
              edit
            <% end %>
            <%= link_to funny, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              delete
            <% end %>
          </div>  
        <% end %> 
      </div>
    </div>   
  <% end %>
</div>

