<h1>Listing funnies</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funnies.each do |funny| %><!-- will do something to each funny -->
      <tr>
        <td><%= funny.description %></td>
        <td><%= link_to 'Show', funny %></td>
        <td><%= link_to 'Edit', edit_funny_path(funny) %></td>
        <td><%= link_to 'Destroy', funny, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funny', new_funny_path %>
