<div id="funnies" class="transitions-enabled">
  <% @funnies.each do |funny| %><!-- will do something to each funny -->
    <div class="box panel panel-default">
      <%= image_tag funny.image.url(:medium) %>
      <div class="panel-body">
        <%= funny.description %></td>
        <%= funny.user.email if funny.user %><!-- only will show if a funny has a user -->
        <%= link_to 'Show', funny %>
        <% if funny.user == current_user %>
          <%= link_to 'Edit', edit_funny_path(funny) %>
          <%= link_to 'Destroy', funny, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %> 
      </div>
    </div>   
  <% end %>
</div>

